name: Code Quality

on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  push:
    branches:
      - master
  schedule:
    - cron: "0 0 * * *"

jobs:
  cache:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.9"
          enable-cache: true
          cache-suffix: uv-${{ runner.os }}-3.9

      - name: Install dependecies
        run: uv sync --all-groups

  ruff:
    needs: cache
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.9"
          enable-cache: true
          cache-suffix: uv-${{ runner.os }}-3.9

      - name: Install dependecies
        run: uv sync --all-groups

      - name: Run ruff
        run: |
          uv run ruff check .

  mypy:
    needs: cache
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.9"
          enable-cache: true
          cache-suffix: uv-${{ runner.os }}-3.9

      - name: Install dependecies
        run: uv sync --all-groups

      - name: Run mypy
        run: |
          uv run mypy --strict speaker_recognition

  tests:
    needs: cache
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.9"
          enable-cache: true
          cache-suffix: uv-${{ runner.os }}-3.9

      - name: Install dependecies
        run: uv sync --all-groups

      - name: Run tests
        run: |
          uv run pytest --cov=. --cov-report=term tests

  find-addons:
    name: Find add-ons
    runs-on: ubuntu-latest
    outputs:
      addons: ${{ steps.addons.outputs.addons_list }}
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v6

      - name: Find add-on directories
        id: addons
        uses: home-assistant/actions/helpers/find-addons@master

  lint-addon:
    name: Lint add-on ${{ matrix.path }}
    runs-on: ubuntu-latest
    needs: find-addons
    strategy:
      matrix:
        path: ${{ fromJson(needs.find-addons.outputs.addons) }}
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v6

      - name: Run Home Assistant Add-on Lint
        uses: frenck/action-addon-linter@v2
        with:
          path: "./${{ matrix.path }}"
